.label-danger {
	background-color: #f5c2c7;
    
}

.label-success {
	background-color: #badbcc;
    
}


.label-warning {
	background-color: #ffecb5;
    
}


.navbar-brand {
	padding-top: 12px;
}

.panel-default {
	margin-top: 20px;	
	margin-left: 15px;
	margin-right: 15px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}


.box {
	display: flex;
	flex-flow: column;
	height: 100vh;
	background-color: #fff;
}

.box-context{
	margin: 10px !important;
}

.box .header {
	flex-grow: 0;
	flex-basis: auto;
	height: 48px !important;
	background-color: #0081c2 !important;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
	flex-grow: 0;
}

.box .content {
	flex-grow: 1;
	flex-basis: auto;
}

#container-footer {
	display: flex;
	width: 100%;
	height: 30px;
	background-color: black;
	color: white;
	
}

#left-footer {
	float: left;
}

#right-footer {
	float: right;
	width: auto;
}

#center-footer {
	margin: 0 auto;
	width: auto;
}

.inputBottom{
	margin-bottom: 20px;
}