<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:p="http://primefaces.org/ui" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layoutPadrao}">
<head>
<title>Cobrança</title>
<style>
<!--
.text-aqua {
	color: #00c0ef !important;
}

a {
	color: #3c8dbc;
}

.small {
	font-weight: normal;
	line-height: 1;
	color: #777;
	font-size: 65%;
}

h2, .h2 {
	font-size: 30px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	text-align: center;
}
-->
</style>
</head>

<body>

	<div layout:fragment="conteudo">
		<br />
		<div style="margin-left: 50px; height:100px">
			<img alt="Logo" src="images/apss2.png">
		</div>
	</div>


</body>
</html>