<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:p="http://primefaces.org/ui">
<head>
<meta charset="UTF-8" />
<title>Cobrança</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/cobranca.js"></script>
<script src="/js/jquery.mask.min.js"></script>
</head>
<body>

	<div class="box">
		<div class="header">
			<header th:replace="Base :: heard"></header>
		</div>
		<div class="content">
			<section layout:fragment="conteudo"></section>
		</div>

		<div class="footer">
			<header th:replace="Base :: footer"></header>
		</div>
	</div>
	
</body>
</html>
